


//custom variables
$primary: #c29938;
$light: #fbf5e5;
$secondary: #d63384;
$info: #d1f1e8;
$danger: #f39595;
$dark: #c5ab5c;
$success:#f0ffff;





// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

